<div class="slot-machine-container">
  <!-- Afficheur 1 -->
  <div class="slot-machine">
    <div class="reel">
      {{ getCurrentChiffre("afficheur1") }}
    </div>
  </div>

  <!-- Afficheur 2 -->
  <div class="slot-machine">
    <div class="reel">
      {{ getCurrentChiffre("afficheur2") }}
    </div>
  </div>

  <!-- Afficheur 3 -->
  <div class="slot-machine">
    <div class="reel">
      {{ getCurrentChiffre("afficheur3") }}
    </div>
  </div>
</div>

<!-- Bouton pour "communiquer" avec le projet electro pour lancer une partie -->
<div id="btnFirebase" class="button-container">
  <button (click)="sendPartieToFirebase()">Lancer la partie</button>
</div>

<!-- Bouton pour afficher/masquer les combinaisons -->
<div class="button-container">
  <button (click)="toggleTable()">
    {{ showTable ? "Masquer les combinaisons" : "Afficher les combinaisons" }}
  </button>
</div>

<!-- Affichage du gain -->
<div class="gain-container">
  <span id="gain" class="gain-display">Gain: 0</span>
</div>

<div *ngIf="showTable" class="combinations-table">
  <table>
    <thead>
      <tr>
        <th>Titre</th>
        <th>Combinaison</th>
        <th>Multiplicateur</th>
        <th>Exemple</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let combo of combinations"
        [id]="combo.id"
        [class]="combo.class"
        [class.highlight]="highlightCombination?.includes(combo.id)"
      >
        <td *ngIf="combo.id === 'combo-4.5'" colspan="4">{{ combo.title }}</td>
        <ng-container *ngIf="combo.id !== 'combo-4.5'">
          <td>{{ combo.title }}</td>
          <td>{{ combo.combination }}</td>
          <td>{{ combo.multiplier }}</td>
          <td>{{ combo.example }}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
