<div class="bande_d_accueil">
    <div class="logo_entreprise">
        <a href=""><img src="../../../../public/d5kchb3-2f989852-d842-4254-98c5-49570d7f8aa9.png"></a>
    </div>
    <ul class="bande_d_accueil">
        <li><a href="">ACCUEIL</a></li> <!--a la place de accueil il faut mettre index-->
        <li><a href="Faq">FAQ</a></li>
        <li><a href="Conseils">CONSEILS</a></li>
        <li><a href="CGU">CGU</a></li>
        <li><a href="register">SE CONNECTER</a></li>
        <li><a href="contact">CONTACT</a></li>
        <li><a href="propos">A PROPROS</a></li>
        <!--modifier les liens-->
    </ul>
</div>