<div class="page">
    <div class="center">
        <div class="title"><h1>Creation de votre compte</h1></div>
        <p>champs obligatoire *</p>
        <div class="info">
            <div class="label">
                <div>Insérer votre carte d'indentité*</div>
                <div>Adresse mail *</div>
                <div>Nom d'utilisateur *</div>
                <div>Mot de passe *</div>
                <div>Confirmation du *<br /> mot de passe</div>
            </div>
            <div class="input">
                <form class="input_texte" method="post">
                    <input type="file" name="id_card" id="id_card" required/>
                    <input type="email" name="adresse_mail" id="adresse_mail" size="32" required/>
                    <input type="text" name="nom_utilisateur" id="username" size="32" required/>
                    <input type="password" name="mot_de_passe" id="mot_de_passe" size="32" required/>
                    <input type="password" name="confirmation_mot_de_passe" id="confirmer" size="32" required/>
                </form>
            </div>     
        </div>  
        <div class="submit">
            <input type="submit" value="Valider">
        </div>
    </div>  
</div>
