<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Roulette</title>
    </head>
    <body>
        <div class="page">
            <div class="game">
                <div class="roulette">
                    <canvas id="canvas" width="500" height="500"></canvas>
                    <input class='btn' type="button" value="spin" id='spin' />
                </div>
                <div class="bet">
                    
                </div>
            </div>
            <div class="tableau">
                <div class="button" id="results"></div>
            </div>
        </div>
    </body>
</html>