<div class="stats-page">
  <h1>Statistiques</h1>
  <div class="stats-container">

    <div class="stats-card">
      <h2>Graphe win rates</h2>
      <p>Description du graph</p>
      <!--<mat-slider min="1" max="5" step="0.5">
        <input matSliderThumb value="1.5">
      </mat-slider>-->
    </div>

    <div class="stats-card">

      <h2>Graphe gain d'argent et perte</h2>

      <!-- New select element for filtering -->
      <select [(ngModel)]="selectedPeriod" (change)="updateChart()">
        <option value="jour">Jour</option>
        <option value="semaine">Semaine</option>
        <option value="mois">Mois</option>
        <option value="année">Année</option>
      </select>

      <canvas #gainChartCanvas></canvas>

      <div class="gain-summary">
        <p>{{ gainSummary }}</p>
      </div>
      
      <p>Total misé : {{ totalMise.toFixed(2) }}€</p>
      
    </div>
    

  </div>
</div>
