/* You can add global styles to this file, and also import other style files */
/* image de la personne*/

/*html{
    --background:#d9d9d9;
    --couleur_bouton:#8C74E9;
    --onglet:#FF77FF;
    --ecriture:'Comfortaa';
    --couleur_ecriture:#000000;
    --texte_bouton:#ffffff;
    --police_paragraphe:1rem;
    --police_titre:2rem;
    --hover:grey;
    --bordure:#000000;
    height: 100vh;
    width: 100vw;
    --important:red;
    
    }*/

html, body { 
    height: 100%;
    width: 100vw;
    font-family:Roboto, sans-serif;
    background: linear-gradient(
      545deg,
      rgb(252, 204, 252),
      rgb(180, 198, 248)
    );
    
    --navbar:rgba(40, 164, 169, 0.51);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
